.main_freight_wrapper{
    .freight_tabing_wrap{
        ul.nav{
            gap: 12px;
            .tab_menu {
                border-radius: var(--border_radius_12px, 12px);
                border: 1px solid $neutral_3;
                background: $white;
                padding: 0px 0px;
                height: 40px;
                @include font(400,14px,normal,$neutral_5);
                @extend .flex-center;
                justify-content: center;
                .dropdown{
                    width: 100%;
                    height: 100%;
                    & > a{
                        display: block;
                        width: 100%;
                        background: transparent;
                        padding: 0;
                        box-shadow: none;
                        border:0;
                        @include font(400,14px,38px,$neutral_5);
                        transition: 0s all;
                    }
                }
                &.active{
                    background: $primary_7;
                    border-color: $primary_7;
                    color: $white;
                    .dropdown{
                        & > a{
                            color: #fff;
                        }
                    }
                }
            }
            .dropdown-menu{
                width: 100%;
                border-radius: 12px;
                background: $white;
                box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
                margin: 10px 0 0;
                padding: 0;
                border: 0;
                .dropdown-item{
                    padding: 13px 16px;
                    @include font(500,16px,normal,$neutral_8);
                    border-bottom: 1px solid #E5E7EB;
                }
            }
        }
    }
    .table_wrap {
        table{
            td{
                &:not(:last-child){
                    min-width: 130px;
                }
            }
        }
    }
}
.tf_top_breadcrumb_rate_wrap {
    border-radius: 12px;
    border: 1px solid $neutral_2;
    background: $white;
    margin: 20px 0;
    padding: 18px;
}
.tf_box_wrap {
    padding-top: 18px;
    margin-top: 18px;
    border-top: 1px solid #E5E7EB;
    gap: 30px;
    .red_text,.green_text {
        @include font($font-weight-medium,14px,normal,$danger_7);
        padding-right: 16px;
        position: relative;
        margin: 0 0 2px 5px;
        &::before{
            content: '';
            position: absolute;
            right: 0;
            top: 3px;
            width: 14px;
            height: 14px;
            background: url('../../images/icons/less_rate.svg') no-repeat;
        }
    }
    .green_text{
        color: $success_7;
        &::before{
            background-image: url('../../images/icons/more_rate.svg');
        }
    }
    .box_title {
        @include font($font-weight-normal,14px,normal,$neutral_5);
        margin-bottom: 14px;
    }
    .sh_box{
        position: relative;                        
        &:not(:last-child){
            &::before{
                content: '';
                position: absolute;
                right: -14px;
                top: 0;
                height: 58px;
                width: 1px;
                background: #E5E7EB;
            }
        }
        .sh_inquiry_rate {
            @include font(700,20px,normal,$neutral_8);   
            display: flex;      
            align-items: flex-end;
        }
    }
}

.freight_filter_wrap {
    .label{
        @include font(600,16px,normal,$neutral_8);   
    }
    .right_actions_wrap {
        gap: 8px
    }
    .search_form{
        form{
            input{
                @include font($font-weight-normal,14px,normal,$neutral_8);   
                border-radius: 12px;
                border: 1px solid $neutral_3;
                background: $white;
                padding: 9px 10px 9px 38px;
                width: 323px;
                &::placeholder{
                    color: $neutral_4;
                }
            }
            button{
                position: absolute;
                top: 8px;
                left: 12px;
                font-size: 18px;
                padding: 0;
                line-height: 1;
                color: $neutral_8;
            }
        }
    }
    .filter_wrap, .upload_wrap {
        button {
            border-radius: 8px;
            border: 1px solid $neutral_3;
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
            padding: 8px 12px;
            height: 38px;
        }
    }
    .upload_wrap{
        button{
            @include font($font-weight-medium,14px,normal,$neutral_8);  
            img{
                margin-right: 4px;
            }
        }
    }
    .add_btn{
        button{
            @include button;
            i{
                font-size: 20px;
                margin-right: 7px;
            }
        }
    }
}